<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Thymeleaf Demo</title>
</head>
<body>
	<h3>Welcome to ThymeLeaf Demo</h3>
	<p th:text="'Hello, ' + ${witness.firstName} + ' '+ ${witness.lastName} + '!'"></p>
	
	
	<table>
   <th:block th:each="accident : ${accidents}">
      <tr>
         <td th:text="${accident.accidentId}">...</td>
         <td th:text="${accident.vehicleCount}">...</td>
         <td th:text="${accident.accidentTime}">...</td>
         <td th:text="${accident.accidentDate}">...</td>
         <td th:text="${accident.accidentDesc}">...</td>
         <td th:text="${accident.locationId}">...</td>
         <td th:text="${accident.accidentTypeId}">...</td>
         <td th:text="${accident.witnessEmail}">...</td>
         <td th:text="${accident.accidentSeverity}">...</td>
      </tr>
   </th:block>
</table>
	


</body>
</html>